<div class="about">
  <h1>About Us</h1>
  <p>Welcome to EngBookHub!</p>
  <p>
  Eng Book Hubとは?

ユーザーの皆さんが「英語を話せる」ようになるために作られたサイトです。英会話に特化した書籍を集めました。(Amazonの英会話書籍ランキングを参考にしています。)

僕(このサイトの管理者)自身大学でスピーキングの授業をたくさん受講した結果、高校受験でやっていた書く、読むの英語より「話す英語」の方が圧倒的に楽しいですし、実際に海外の人と話す事ができると世界がグッと広がります。

個人的な話ですが、ワーホリで海外に来ている方が語学学校に行ったり、ホームステイで英語を勉強しにくる人がいましたが、せっかく海外にいるのにその時間が勿体無いと感じていました。

管理者のように日本にいる間に学習して海外に行っている間はその「話せる英語」のスキルを使ってストレスなく海外生活を楽しめるようになると、その学校に行く時間をもっと自分のやりたい事に使いませんか?

書く、読む、聞く、話すこの4つをバランスよくやる事が良いと僕は聞きましたが、最初から人と話し聞くことで後の要素は勝手についてくると僕は個人の体験から信じています。

管理者の「話せる英語」ブログ

サイト管理者

カズマ
  </p>
</div>