<div class="home">



<div class="container">
<div class ="row">


<div class ="col-md-12">
<div class="card">
  <%= image_tag "example.jpg", class: "img-fluid card-img-top", alt: "Example image" %>
  <div class="card-body">
      <!-- 商品タイトル -->
       <h5 class="card-title">
       どんどん話すための瞬間英作文トレーニング
       </h5>
      <!--  <p>出版日: 2024/5/3</p> -->
       <p style="color: gray;">出版日: <%= Date.new(2024, 5, 3).strftime("%Y/%m/%d") %></p>
      </a>

      <!-- <p class="card-text" style="color: gray;">紹介されている記事</p> -->
      <span class="card-text">紹介されている記事</span>
          <!-- 記事 -->
          <li style="list-style: none;">
          <a href="${data[i].Article_link}" target="_blank">
          記事のtitle
          </a>
          <i class="bi bi-hand-thumbs-up"></i>
          </li>
    </div>#card-body
      
</div>#card
</div> #col-md-12

</div>#row  
</div># container
<a href="https://amzn.to/4edevtg">hey</a>

</div># home