

<div class="container">
<div class ="row">

<% @amazon_books.each do |book| %>

  
  <div class ="col-md-12">
  <div class="card">
  <%= link_to book['link'] do %>
   <%= image_tag book['image_url'], class: "img-fluid card-img-top", alt: "Example image"%>
   <div class="card-body">
   <h5><%= book['title'] %></h5>
  <% end %>

    <!-- <p class="card-text" style="color: gray;">紹介されている記事</p> -->
    <span class="card-text">紹介されている記事</span>
    <% if @blog_posts_result[book['title']].present? %>
            <ul>
              <% @blog_posts_result[book['title']].each do |blog| %>
                <li>
                  <%= link_to blog['title'], blog['link'], target: "_blank", rel: "noopener" %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>関連する記事がありません</p>
    <% end %>
  

  </div>
  </div>
  </div>
<% end %>

</div>
</div>





  
    




